@using BlazeKit.Hydration
@using BlazeKit.Web.Components
@inject DataHydrationContext HydrationContext
@code {

    [Inject(Key = BlogCollection.CollectionName)]
    public BlogCollection Collection {get;set;}

}

<h1>Blog</h1>
<div>
    @foreach (var post in Collection.Items.Cast<BlogSchema>().OrderByDescending(x => x.Date))
    {
    <div class="flex flex-col lg:flex-row lg:justify-between">
            <h2><a href="@(Collection.Route(post))">@post.Title</a></h2>
        <small>@post.Date.ToOrdinalWords()</small>
    </div>
    <p>@post.Description</p>
    <p>@((MarkupString)post.Content)</p>
}
</div>
