@using System.Collections.Immutable
@using BlazeKit.Web.Utils
@using BlazeKit.Web.Components
@using Microsoft.AspNetCore.Components.Routing
@code {
    [Parameter]
    public DocsSchema Schema{ get; set; }

    [Inject(Key = DocsCollection.CollectionName)]
    public DocsCollection Collection { get; set; }

    [Parameter]
    public bool Animate { get; set; } = false;

    private string indent = "";

    private string Indentation(DocsSchema.Heading heading)
    {
        return
            new CssBuilder()
                .AddIf("ml-2", heading.Level == 2)
                .AddIf("ml-4", heading.Level == 3)
                .AddIf("ml-6", heading.Level == 4)
                .AddIf("ml-8", heading.Level == 5)
                .AddIf("ml-10", heading.Level == 6)
                .Apply();
    }

    private string Route(DocsSchema.Heading heading)
    {
        return $"{Collection.Route(Schema)}#{heading.Id}";
    }
}
<div class="hidden lg:block lg:fixed top-30 left-[80%] p-5 @(new CssBuilder().AddIf("group",Animate).Apply())">
    <p class="text-sm uppercase text-gray-400">On this Site</p>
    <div class="group-hover:hidden flex flex-col gap-2 transition-all @(new CssBuilder().AddIf("hidden", !Animate).Apply())">
        <div class="bg-base-200 rounded w-20 h-1"></div>
        <div class="bg-base-200 rounded w-16 h-1"></div>
        <div class="bg-base-200 rounded w-14 h-1"></div>
        <div class="bg-base-200 rounded w-24 h-1"></div>
    </div>
     <div class="group-hover:opacity-100 transition-all @(
            new CssBuilder()
                .AddIf("opacity-100", !Animate)
                .AddIf("opacity-0", Animate)
                .Apply()
            )
        ">
            <div class="flex flex-col">
            @foreach (var heading in Schema.Headings)
            {
                <a class="no-underline text-xs p-1 text-gray-400 hover:text-gray-500 active:bg-sky-200 @(Indentation(heading))" href="@Route(heading)">@heading.Title</a>
            }
            </div>
    </div>
</div>
